.container{
    margin-left: 5%;
    margin-top: -2%;
}
.back-button{
    margin-top: 40%;
    background-color: #13326F;
    margin-left: 90%;
}
.prescription-card {
    width: 850px;
    height: 470px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #E3EDFF;
    font-family: Arial, sans-serif;
    font-size: x-small;
    margin-top: -0%;
    margin-right: 7%;
}
.doctor-info h2 {
    color: #007bff;
    margin: 0;
}

.doctor-info p {
    margin: 3px 0;
    color: #333;
}

.clinic-logo span {
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 85%;
}
.medicine-table {
    width: 100%;
    height:15%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #E3EDFF;
}

.medicine-table th, .medicine-table td {
    border: 1px solid #E3EDFF;
    padding: 10px;
    text-align: left;
}

.medicine-table th {
    background-color: #E3EDFF;
}

.medicine-table td {
    background-color: #E3EDFF;
}

.medicine-table tr:nth-child(even) td {
    background-color: #E3EDFF;
}

/* Advice section styling */
.advice {
    background-color: #e7f3ff;
    padding: 10px;
    border: 1px solid #cce5ff;
    margin-bottom: 20px;
}

.advice p {
    margin: 5px 0;
}

/* Footer section */
.footer {
    text-align: right;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.footer p {
    margin: 5px 0;
}